$background_color_one: #000000;

$lineair_gradient: linear-gradient(to bottom right, rgba(0,0,0,1), rgba(0,0,0,0.9));

$text_color_one: #ffffff;
$text_color_two: #000000;
$text_color_three: #82BFD2;

$border_color_one: #82BFD2;