.title-subpage{
    font-family: $main-font;
    font-weight: $bold-font-weight;
    font-size: $h2;
}

.h1{
    font-family: $main-font;
    font-weight: $semi-font-weight;
    font-size: $h1;
}

.h5{
    font-family: $main-font;
    font-weight: $bold-font-weight;
    font-size: $normal-font-size;
}

.h6{
    font-family: $main-font;
    font-weight: $medium-font-weight;
    font-size: $h6;
}

.normal-text{
    font-family: $main-font;
    font-weight: $medium-font-weight;
    font-size: 16px;
}

.p-title-card{
    font-family: $main-font;
    font-weight: $semi-font-weight;
    font-size: $h6;
}

.progress_bar_title{
    font-family: $main-font;
    font-weight: $semi-font-weight;
    font-size: $normal-font-size;
}

.button-text{
    font-family: $main-font;
    font-weight: $semi-font-weight;
    font-size: $normal-font-size;
}

.project-title{
    font-family: $main-font;
    font-weight: $bold-font-weight;
    font-size: $h3;
}

.semi-text{
    font-family: $main-font;
    font-weight: $semi-font-weight;
    font-size: $normal-font-size;
}
