$background_color_one: #000000;
$background_color_two: #E3E2E2;
$background_color_three: #82BFD2;

$lineair_gradient: linear-gradient(to bottom right, rgba(0,0,0,1), rgba(0,0,0,0.9));

$text_color_one: #ffffff;
$text_color_two: #000000;
$text_color_three: #82BFD2;
$text_color_four: #E3E2E2;

$border_color_one: #82BFD2;

$main-font: 'Montserrat', sans-serif;

$bold-font-weight: 700;
$semi-font-weight: 600;
$medium-font-weight: 500;

$h1: 48px;
$h2: 40px;
$h3: 30px;
$h5: 22px;
$h6: 18px;
$normal-font-size: 16px;
