*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    color: #000000;
    background-color: #ffffff;
    font-family: $main-font;
}

.content{
    overflow-x: hidden;
}

button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}