.navigator-aboutme{
    margin-top: -90px;
}

.about_me_page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;

    .content{
        width: 80%;

        .content-about-info{
            display: flex;
            flex-direction: column;
            gap: 15px;

            .about_me_page_title{
                margin-bottom: 10px;
            }
    
            .horizontal_line{
                margin-top: 5px;
                width: 100%;
                border-bottom: 2px solid black;
            }
    
            .few_contact_details{
                display: flex;
                flex-direction: column;
                gap: 15px;

                .first-two-contact-details, .second-two-contact-details{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                }
    
                .details{
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                }
            }
            
            .btn_fill{
                margin-top: 15px;
                margin-bottom: 35px;

                a{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
            }
        }

        .picture_myself{

            img{
                max-width: 100%;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                border-radius: 10px;
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .about_me_page{
        margin-top: 210px;

        .content{
            display: flex;
            flex-direction: row;
            gap: 60px;

            .content-about-info{
                width: 45%;

                .few_contact_details{
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
            }

            .picture_myself{
                width: 50%;
            }

        }

    }

}