.navigator-home{
    margin-top: -90px;
}

.home_page{
    margin-top: 180px;
    background-image: $lineair_gradient;
    display: flex;
    flex-direction: column;

    .social_media{
        display: none;
        z-index: 4;
    }

    .introduction_text{
        color: $text_color_one;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 22px;
        z-index: 3;

        .name_title{
            width: 80%;

            @keyframes blink {
                from, to {
                    color: transparent;
                }
                50% {
                    color: $text_color_one;
                }
            }

            .cursor{
                margin-left: 3px;
                animation: 1s blink step-end infinite;
                font-weight: 400;
            }
        }

        .alinea_text{
            width: 80%;
            margin-top: 12px;
        }

        .contact_button{
            width: 80%;
            display: flex;
            align-items: flex-start;
            margin-top: 25px;
        }
    }
    .home_picture{
        width: 100%;
        margin-bottom: -4px;
        display: flex;
        justify-content: flex-end;

        img{
            width: 350px;
            margin-right: calc(100% - 80px);
            margin-top: -106px;
        }

    }
}

@media screen and (min-width: 1024px){
    .home_page{
        flex-direction: row;
        align-items: flex-end;
        flex-wrap: wrap;
        overflow: hidden;
        height: calc(100vh - 90px);

        .social_media{
            display: flex;
            flex-direction: column;
            gap: 26px;
            margin-left: 60px;
            align-items: center;
            margin-bottom: 60px;

            .first_verticale_line, .second_verticale_line{
                height: 178px;
                border-left: 2px solid $background_color_two;
            }

            .social-icons{
                display: flex;
                flex-direction: column;
                gap: 26px;
            }
        }

        .introduction_text{
            width: 67%;
            height: 60vh;
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: flex-start;
            margin-left: 100px;
        }

        .home_picture{
            width: 100%;
            margin-top: -536px;

            picture{
                display: flex;
                justify-content: flex-end;
            }

            img{
                width: 45%;
                margin-top: -5px;
                margin-left: 0px;
                margin-right: -10px;
            }
        }
    }

}
