.project_page{
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;

    .go-back{
        width: 92%;

        .go-back-btn{
            margin-left: 5%;

            .go-back-link{
                display: flex;
                align-items: center;
                gap: 5px;
                text-decoration: none;
                color: $text_color_two;

                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .content{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;

        .project-info{
            .title-subpage{
                text-transform: uppercase;
                margin-bottom: 5px;
            }
    
            .date-project{
                display: flex;
                align-items: center;
                gap: 5px;
                color: $text_color_three;
    
                img{
                    width: 18px;
                    height: 18px;
                }
            }
        }

        .assignment{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: -5px;

            .assignment-text{
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            img{
                width: 100%;
                border-radius: 10px;
            }
        }

        .result{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .result-info{
                display: flex;
                flex-direction: column;
                gap: 5px;

                a{
                    text-decoration: none;
                    color: $text_color_three;
                }

                a:hover{
                    color: $text_color_two;
                }

                .tags{
                    margin-top: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                }
            }
        }

        .project-images{
            display: flex;
            flex-direction: column;
            gap: 15px;

            a {
                img{
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }

        iframe{
            border-radius: 5px;
            width: 100%;
            height: 40vh;
            margin-top: 30px;
        }

        .result-alineas{
            display: flex;
            flex-direction: column;
            gap: 25px;
            margin-top: 15px;

            .alinea{
                display: flex;
                flex-direction: column;
                gap: 20px;

                .interText{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    
                    .visit-design{
                        text-decoration: none;
                        color: $text_color_three;
                    }

                    .visit-design:hover{
                        color: $text_color_two;
                    }
                }

                .pictures-inter{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    a {
                        img{
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
                }
            }

        }

        .pictures-on-my-own{
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 30px;

                a{
                    img{
                        width: 100%;
                        border-radius: 10px;
                    }
                }

        }
        
    }
}

@media screen and (min-width: 800px){
    .project_page{
        .content{
            gap: 35px;

            .assignment {
                flex-direction: row;
                gap: 70px;
                margin-bottom: 45px;

                .assignment-text {
                    width: 35%;
                }

                img {
                    width: 55%;
                }
            }

            .project-images {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 40px;
                margin-top: 15px;

                a {
                    width: 45%;
                }
            }

            iframe{
                height: 60vh;
            }

            .result-alineas {
                .alinea {
                    gap: 40px;

                    .pictures-inter {
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 80px;

                        a {
                            width: 45%;
                        }
                    }
                }
            }

            .pictures-on-my-own{
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;

                a {
                    width: 40%;

                    img{
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .project_page{
        .content{
            iframe{
                height: 70vh;
            }

            .result-alineas {
                .alinea {
                    .pictures-inter {
                        gap: 70px;

                        a {
                            width: 30%;
                        }
                    }
                }
            }

            .pictures-on-my-own{
                a{
                    max-width: 30%;
                }
            }
        }
    }
}