.project_page{
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;

    .go-back{
        width: 92%;

        .go-back-btn{
            margin-left: 5%;

            .go-back-link{
                display: flex;
                align-items: center;
                gap: 5px;
                text-decoration: none;
                color: $text_color_two;

                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .content{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;

        .project-info{
            .title-subpage{
                text-transform: uppercase;
            }
    
            .date-project{
                display: flex;
                align-items: center;
                gap: 5px;
                color: $text_color_three;
    
                img{
                    width: 18px;
                    height: 18px;
                }
            }
        }

        .assignment{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: -5px;

            .assignment-text{
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            img{
                width: 100%;
                border-radius: 10px;
            }
        }

        .result{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .result-info{
                display: flex;
                flex-direction: column;
                gap: 5px;

                a{
                    text-decoration: none;
                    color: $text_color_three;
                }

                .tags{
                    margin-top: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                }
            }
        }

        .project-images{
            display: flex;
            flex-direction: column;
            gap: 15px;

            img{
                width: 100%;
                border-radius: 10px;
            }
        }
        
    }
}