.project_page{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .go-back{
        width: 100%;

        .go-back-btn{
            margin-left: 5%;

            .go-back-link{
                display: flex;
                align-items: center;
                gap: 5px;
                text-decoration: none;
                color: $text_color_two;

                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .content{
        width: 80%;
        display: flex;
        flex-direction: column;

        .date-project{
            display: flex;
            align-items: center;
            gap: 5px;
            color: $text_color_three;

            img{
                width: 20px;
                height: 20px;
            }
        }
    }
}