.work_page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 55px;

    .content{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .work_nav{
            margin-bottom: 5px;
        }

        .current-filter{
            font-weight: $bold-font-weight;
        }

        .work_page_projects{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }
}

@media screen and (min-width: 1024px){
    .work_page{
        margin-top: 100px;

        .content{
            .work_page_projects{
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;

            }
        }
    }

}