.link-project{
    width: 100%;

    .project{
        width: 100%;
        height: 330px;
        border-radius: 10px;
        background-color: black;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        .overlay{
            width: 100%;
            height: 330px;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 2;
            position: absolute;
        }
    
        img{
            top: 0;
            display: inline;
            margin: 0 auto;
            height: 110%;
            min-width: 100%;
            color: var(--first-text-color);
            object-fit: cover;
            position: absolute;
            margin-top: -10px;
        }
    
        .p-title-card{
            z-index: 3;
            color: white;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
        }
    }
    
}

@media screen and (min-width: 1024px){
    .link-project{
        width: 220px;

        .project{
            height: 220px;

            .overlay{
                display: none;
            }

            .p-title-card{
                display: none;
            }

        }
    }

    .link-project:hover{
        .project{
            .overlay{
                display: block;
                height: 220px;
            }

            .p-title-card{
                display: block;
                padding: 0px 10px;
            }
        }

    }

}

